# Global Superstore Online Sales to Collect Customer.csv, Transaction.csv, Product.csv in this E_Commerce Sales Dashboard Project

In [14]:
### Import Libraries 
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [ ]:
###  Load Data CSVs
customer = pd.read_csv(r"customers.csv")
transaction = pd.read_csv(r"transactions.csv")
product = pd.read_csv(r"products.csv")

In [3]:
### To Show the DataFrame of Customer.CSV
print(" Customer Dataset")
print("Shape:", customer.shape, " | Length:", len(customer))
print(customer.head())

 Customer Dataset
Shape: (2859, 9)  | Length: 2859
  Customer ID      Customer Name First_Name  Gender    Segment        Country  \
0    BM-11575      Brendan Murry    Brendan    Male  Corporate  United States
1    LR-16915       Lena Radford       Lena  Female   Consumer  United States
2    CA-12310  Christine Abelman  Christine  Female  Corporate  United States
3    BO-11350      Bill Overfelt       Bill    Male  Corporate  United States
4    EB-13975         Erica Bern      Erica  Female  Corporate  United States

           City           State   Region
0  Gaithersburg        Maryland     East
1   Los Angeles      California     West
2   San Antonio           Texas  Central
3  Broken Arrow        Oklahoma  Central
4     Charlotte  North Carolina    South

In [4]:
### To Show the DataFrame of Product.CSV
print(" Product Dataset")
print("Shape:", product.shape, " | Length:", len(product))
print(product.head())

 Product Dataset
Shape: (1783, 4)  | Length: 1783
        Product ID         Category Sub-Category  \
0  FUR-BO-10004709        Furniture    Bookcases
1  TEC-PH-10000455       Technology       Phones
2  OFF-ST-10003692  Office Supplies      Storage
3  TEC-AC-10002217       Technology  Accessories
4  TEC-AC-10002942       Technology  Accessories

                                        Product Name
0  Bush Westfield Collection Bookcases, Medium Ch...
1                                        GE 30522EE2
2  Recycled Steel Personal File for Hanging File ...
3                Imation Clip USB flash drive - 8 GB
4  WD My Passport Ultra 1TB Portable External Har...

In [5]:
### To Show the DataFrame of Transaction.CSV
print(" Transaction Dataset")
print("Shape:", transaction.shape, " | Length:", len(transaction))
print(transaction.head())

 Transaction Dataset
Shape: (5901, 11)  | Length: 5901
   RowID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
1   4919  CA-2019-160304  02-01-2019  07-01-2019  Standard Class    BM-11575
2   4920  CA-2019-160304  02-01-2019  07-01-2019  Standard Class    BM-11575
3   3074  CA-2019-125206  03-01-2019  05-01-2019     First Class    LR-16915
4   8604  US-2019-116365  03-01-2019  08-01-2019  Standard Class    CA-12310

        Product ID   Sales  Quantity   Profit Payment Mode
0  FUR-BO-10004709   73.94         1  28.2668       Online
1  FUR-BO-10004709  173.94         3  38.2668       Online
2  TEC-PH-10000455  231.98         2  67.2742        Cards
3  OFF-ST-10003692  114.46         2  28.6150       Online
4  TEC-AC-10002217   30.08         2  -5.2640       Online

In [ ]:
## To Drop The "Nan" value in transaction.csv and change the "RowID" name
file_path = r"transactions.csv"
transaction.rename(columns={"Row ID+O6G3A1:R6": "RowID"}, inplace=True)

if 'Returns' in transaction.columns:
    transaction.drop(columns=['Returns'], inplace=True)

transaction.dropna(inplace=True)

transaction.to_csv(file_path, index=False)
print(transaction.head())

   RowID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
1   4919  CA-2019-160304  02-01-2019  07-01-2019  Standard Class    BM-11575
2   4920  CA-2019-160304  02-01-2019  07-01-2019  Standard Class    BM-11575
3   3074  CA-2019-125206  03-01-2019  05-01-2019     First Class    LR-16915
4   8604  US-2019-116365  03-01-2019  08-01-2019  Standard Class    CA-12310

        Product ID   Sales  Quantity   Profit Payment Mode
0  FUR-BO-10004709   73.94         1  28.2668       Online
1  FUR-BO-10004709  173.94         3  38.2668       Online
2  TEC-PH-10000455  231.98         2  67.2742        Cards
3  OFF-ST-10003692  114.46         2  28.6150       Online
4  TEC-AC-10002217   30.08         2  -5.2640       Online

In [ ]:
### To Merge the Customer, Product, Transaction CSVs
###  File paths
customer_path = r"customers.csv"
product_path = r"products.csv"
transaction_path = r"transactions.csv"

merged_path = r"merged_all_data.csv"

# Load CSVs
customers = pd.read_csv(customer_path)
products = pd.read_csv(product_path)
transactions = pd.read_csv(transaction_path)

#####  Columns to remove spaces
customers.rename(columns={"Customer ID": "Customer_ID"}, inplace=True)
products.rename(columns={"Product ID": "Product_ID"}, inplace=True)
transactions.rename(columns={"Customer ID": "Customer_ID", "Product ID": "Product_ID"}, inplace=True)

####   Merge transactions with customers
merged = pd.merge(transactions, customers, on="Customer_ID", how="left")

####  Merge with products
merged = pd.merge(merged, products, on="Product_ID", how="left")

In [ ]:
# Save merged dataset
merged_path = r"merged_all_data.csv"
merged.to_csv(merged_path, index=False)

print(" Final shape:", merged.shape)
print(" Preview:\n", merged.head())

 Final shape: (28204, 22)
 Preview:
    RowID        Order ID  Order Date   Ship Date       Ship Mode Customer_ID  \
0   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
1   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
2   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
3   4918  CA-2019-160304  01-01-2019  07-01-2019  Standard Class    BM-11575
4   4919  CA-2019-160304  02-01-2019  07-01-2019  Standard Class    BM-11575

        Product_ID   Sales  Quantity   Profit  ... First_Name Gender  \
0  FUR-BO-10004709   73.94         1  28.2668  ...    Brendan   Male
1  FUR-BO-10004709   73.94         1  28.2668  ...    Brendan   Male
2  FUR-BO-10004709   73.94         1  28.2668  ...    Brendan   Male
3  FUR-BO-10004709   73.94         1  28.2668  ...    Brendan   Male
4  FUR-BO-10004709  173.94         3  38.2668  ...    Brendan   Male

     Segment        Country          City       State   Region   Category  \
0  Corporate  United States  Gaithersburg    Maryland     East  Furniture
1  Corporate  United States    Montebello  California     West  Furniture
2  Corporate  United States       Chicago    Illinois  Central  Furniture
3  Corporate  United States   Los Angeles  California     West  Furniture
4  Corporate  United States  Gaithersburg    Maryland     East  Furniture

  Sub-Category                                       Product Name
0    Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
1    Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
2    Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
3    Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
4    Bookcases  Bush Westfield Collection Bookcases, Medium Ch...

[5 rows x 22 columns]

In [10]:
print(" Preview:\n", merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28204 entries, 0 to 28203
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RowID          28204 non-null  int64
 1   Order ID       28204 non-null  object
 2   Order Date     28204 non-null  object
 3   Ship Date      28204 non-null  object
 4   Ship Mode      28204 non-null  object
 5   Customer_ID    28204 non-null  object
 6   Product_ID     28204 non-null  object
 7   Sales          28204 non-null  float64
 8   Quantity       28204 non-null  int64
 9   Profit         28204 non-null  float64
 10  Payment Mode   28204 non-null  object
 11  Customer Name  28204 non-null  object
 12  First_Name     28204 non-null  object
 13  Gender         28204 non-null  object
 14  Segment        28204 non-null  object
 15  Country        28204 non-null  object
 16  City           28204 non-null  object
 17  State          28204 non-null  object
 18  Region         28204 non-null  object
 19  Category       28204 non-null  object
 20  Sub-Category   28204 non-null  object
 21  Product Name   28204 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 4.7+ MB
 Preview:
 None

In [11]:
print(" Preview:\n", merged.describe())

 Preview:
               RowID         Sales      Quantity        Profit
count  28204.000000  28204.000000  28204.000000  28204.000000
mean    5066.826762    264.947173      3.785775     28.776796
std     2882.071394    466.618167      2.218434    237.395342
min        1.000000      0.836000      1.000000  -6599.978000
25%     2590.000000     70.950000      2.000000      1.713800
50%     5177.500000    128.400000      3.000000      8.532000
75%     7509.000000    270.087500      5.000000     29.328400
max     9994.000000   9099.930000     14.000000   8399.976000

In [13]:
### Normalize the Numerical Data
scaler = MinMaxScaler()
merged[['Sales', 'Quantity', 'Profit']] = scaler.fit_transform(merged[['Sales', 'Quantity', 'Profit']])

In [15]:
###  Encode Categorical Variables
label_cols = ['Ship Mode', 'Payment Mode', 'Gender', 'Segment', 'Region', 'Category', 'Sub-Category']
encoder = LabelEncoder()

for col in label_cols:
    merged[col] = encoder.fit_transform(merged[col])

Feature Engineering to extract Purchase Frequency, Engagement Scores, and Subscription Tenure.

In [16]:
# 1. Purchase Frequency
purchase_freq = merged.groupby('Customer_ID')['Order ID'].nunique().reset_index()
purchase_freq.columns = ['Customer_ID', 'Purchase_Frequency']
merged = merged.merge(purchase_freq, on='Customer_ID', how='left')

In [17]:
# 2. Engagement Score (total spend × frequency)
engagement = merged.groupby('Customer_ID')['Sales'].sum().reset_index()
engagement.columns = ['Customer_ID', 'Engagement_Score']
merged = merged.merge(engagement, on='Customer_ID', how='left')

In [22]:
# 3.  Subscription Tenure in Days
merged['Order Date'] = pd.to_datetime(merged['Order Date'], dayfirst=True, errors='coerce')
merged['Ship Date'] = pd.to_datetime(merged['Ship Date'], dayfirst=True, errors='coerce')

tenure = merged.groupby('Customer_ID').agg({
    'Order Date': 'min',
    'Ship Date': 'max'
}).reset_index()

tenure['Tenure_Days'] = (tenure['Ship Date'] - tenure['Order Date']).dt.days
merged = merged.merge(tenure[['Customer_ID', 'Tenure_Days']], on='Customer_ID', how='left')

In [ ]:
# Save file Feature Engineered Dataset
file_path = r"featureengineering data.csv"
merged.to_csv(file_path, index=False)
print("✅ Feature Engineering dataset saved at:", file_path)

✅ Feature Engineering dataset saved at: C:\Users\anand\Desktop\Customer Churn Prediction and Sales Dashboard Project\datas\feature_engineering_preprocessed_data.csv

In [24]:
merged.head()

,RowID,Order ID,Order Date,Ship Date,Ship Mode,Customer_ID,Product_ID,Sales,Quantity,Profit,...,State,Region,Category,Sub-Category,Product Name,Purchase_Frequency,Engagement_Score,Tenure_Days_x,Tenure_Days_y,Tenure_Days
0,4918,CA-2019-160304,2019-01-01,2019-01-07,3,BM-11575,FUR-BO-10004709,0.008034,0.000000,0.441884,...,Maryland,1,0,4,"Bush Westfield Collection Bookcases, Medium Ch...",5,0.552966,631,631,631
1,4918,CA-2019-160304,2019-01-01,2019-01-07,3,BM-11575,FUR-BO-10004709,0.008034,0.000000,0.441884,...,California,3,0,4,"Bush Westfield Collection Bookcases, Medium Ch...",5,0.552966,631,631,631
2,4918,CA-2019-160304,2019-01-01,2019-01-07,3,BM-11575,FUR-BO-10004709,0.008034,0.000000,0.441884,...,Illinois,0,0,4,"Bush Westfield Collection Bookcases, Medium Ch...",5,0.552966,631,631,631
3,4918,CA-2019-160304,2019-01-01,2019-01-07,3,BM-11575,FUR-BO-10004709,0.008034,0.000000,0.441884,...,California,3,0,4,"Bush Westfield Collection Bookcases, Medium Ch...",5,0.552966,631,631,631
4,4919,CA-2019-160304,2019-01-02,2019-01-07,3,BM-11575,FUR-BO-10004709,0.019024,0.153846,0.442551,...,Maryland,1,0,4,"Bush Westfield Collection Bookcases, Medium Ch...",5,0.552966,631,631,631